*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus{
    outline: none;
}
 #title{
     .title{
         h1{
            font-family: 'Playfair Display', serif;
            font-size: 60px;
            padding-top:80px ;
            padding-left: 80px;
         }
     }
 }
 #accordion{
     .container{
         .row{
             .accordion{
                 margin-top: 100px;
                 .accordion-item{
                     .accordion-header{
                         #leftTopButtonClickOne{
                             background-color: rgb(243,79,63);
                             color: white;
                         }
                         #rightTopButtonClickOne{
                             background-color: rgb(243,79,63);
                             color: white;
                         }
                     }
                 }
             }
         }
     }
 }